<!DOCTYPE html>
<html class="h-100">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
    <title>Code.CS Creating Workspace</title>
    
    <script defer src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script defer src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script defer src="/create/process.js?{*params*}"></script>
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/create.css">
  </head>

  <body class="h-75">
  
    <!-- Header / Nav Bar -->
    <header>  
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
	  <div id="site-title">
	    <i class="fas fa-tachometer-alt"></i>
	    <span>Code.CS Dashboard</span>
	  </div>
	</div>
      </div>
    </header>      
    
    <!-- Spinner -->
    <main role="main" class="h-100">
      <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
          <div class="spin-wrapper d-flex justify-content-center align-items-center">
            <p>Please wait while creating new {{workspace}}.</p>
          </div>
          <div class="loader"></loader>
        </div>
      </div>
    </main>

    <!-- Page Footer -->
    <footer class="text-muted footer">
      <div class="container">
   	<p>&copy; Walla Walla University Computer Science</p>
      </div>
    </footer>

  </body>
</html>
